body,
html {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS";
}

#header {
  background: chartreuse;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.aboutme-container > p,
.aboutme-container > h1 {
  display: inline;
}

.aboutme-container > h1 {
  border-right: solid black 2px;
  padding: 10px;
}
.container {
  width: 86%;
  margin: 0 auto;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Arlene {
  justify-content: left;
  display: flex;
  margin-left: 31px;
}

.main-nav {
}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav ul li {
  float: right;
  margin-right: 25px;
  font-size: 18px;
}
.main-nav ul li a {
  text-decoration: none;
  color: black;
}
.banner img {
  max-width: 125%;
  vertical-align: top;
}
.card {
  background: white;
  width: 220px;
  height: 400px;
}
